# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Django specific
*.log
db.sqlite3

# ChatterBot database
chatbot_database.db

# IDE specific files
.vscode/
.idea/
.DS_Store
